include LICENSE README.rst
recursive-include features *
recursive-include src/pptx/templates *
recursive-include tests *.py
recursive-include tests/test_files *
recursive-include tests/paper/fixtures *
recursive-include tests/paper/goldens *
recursive-include tests/paper/xsd *
global-exclude *.py[cod]
